<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tsing.zhong.fu.frameworkforproject_skilltree_" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="edu.qust.vice.project.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="未命名"
        android:theme="@style/MDTheme" >
        <activity
            android:name="edu.qust.vice.project.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.qust.vice.project.ui.ListActivity"
            android:label="List" >
        </activity>
        <activity
            android:name="edu.qust.vice.project.ui.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:theme="@style/MDThemeActionBar"
            android:name="edu.qust.vice.project.ui.LoginActivity"
            android:label="注册"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:theme="@style/MDThemeActionBar"
            android:name="edu.qust.vice.project.ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name="edu.qust.vice.project.ui.Friends"
            android:label="朋友圈">

        </activity>
        <activity android:name="edu.qust.vice.project.ui.About"
            android:label="我的信息">

        </activity>
        <activity android:name="edu.qust.vice.project.ui.fav"
            android:label="添加到我的收藏"
            android:theme="@style/MDThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="edu.qust.vice.project.ui.Message"
            android:label="我的收藏">
        </activity>
        <activity android:name="edu.qust.vice.project.ui.Add"
            android:theme="@style/MDThemeActionBar"
            android:label="添加新课程">

        </activity>
        <activity android:name="edu.qust.vice.project.ui.FlexibleSpaceWithImageWithViewPagerTabActivity">

        </activity>
    </application>

</manifest>
